@page "/configuration"

<h3>Configuration</h3>

<h2>Exportar BD</h2>
<input type="button" value="Download" @onclick="ExportarBD"/>

<h2>Importar BD</h2>
<InputFile OnChange="ImportarBD" />

@code {
    [CascadingParameter]  Context context { get; set; }
    void ExportarBD()
    {
        string data=context.ToXmlDocument().OuterXml;
        string fileName = "BD_TareasPendientes " + DateTime.Now.ToString("d-M-yyyy HH mm ss") + ".xml";
        this.DownloadFile(fileName, data, "application/xml");
     

    }
    async Task ImportarBD(IFileListEntry[] files)
    {
        IFileListEntry file=files.FirstOrDefault();
        string data;
        if (file != null)
        {
            data = await file.LoadStringAsync();
            context.LoadXML(data);
        }
    }

}
