@page "/organitze"

<h3>Categorias</h3>
<div class="EditarListaCategorias">
    @*añadir/editar nombre Categoria*@
    @*Añadir/Quitar listas Categoria*@

</div>
<h3>Editar Listas</h3>
<VisorListas Listas="context.Listas" OnClick="OnListaSeleccionada" />
@if (ListaSeleccionada != null)
{
    <h3>Lista seleccionada: @ListaSeleccionada.Nombre</h3>
}
    <h4>Herencia </h4>
    <div class="Herencia-TareaLista">
        @if (ListaSeleccionada != null)
        {
            <h5>No heredadas</h5>
            <VisorListas Listas="NoHeredadas" OnClick="PonListaEnLaHerencia" />
            <h5>Heredadas</h5>
            <VisorListas Listas="Heredadas" OnClick="PreguntaSiQuiereQuitarLaLista" />
        }
    </div>

    <h4>Eliminar/Ocultar Tarea</h4>
    <div class="EliminarOcultar-TareaLista">
        @if (ListaSeleccionada != null)
        {
            <VisorTareas Lista="ListaSeleccionada" MostrarCheckHecho="false" OnClick="PreguntarSiQuiereEliminarTarea" />
        }
    </div>

    @code {
[CascadingParameter] Context context { get; set; }
    Lista ListaSeleccionada
    {
        get; set;
    }
    List<Lista> NoHeredadas
    {
        get
        {
            return ListaSeleccionada.GetListasNoHeredadas();
        }
    }
    List<Lista> Heredadas
    {
        get
        {
            return ListaSeleccionada.GetListasHeredadas();
        }
    }
    void PonListaEnLaHerencia(Lista lista)
    {
        ListaSeleccionada.AddList(lista);
    }
    void PreguntaSiQuiereQuitarLaLista(Lista lista)
    {
        if (this.Pregunta($"Quieres quitar la lista '{lista.Nombre}' de la herencia?"))
        {
            ListaSeleccionada.RemoveList(lista);
        }
    }
    void OnListaSeleccionada(Lista lista)
    {
        ListaSeleccionada = lista;


    }
    void PreguntarSiQuiereEliminarTarea(long id)
    {
        string aux = ListaSeleccionada.TareasLista.ContainsKey(id) ? "quitar" : "ocultar";
        if (this.Pregunta($"Quieres {aux} esta tarea de la lista {ListaSeleccionada.Nombre}?"))
        {
            ListaSeleccionada.RemoveTarea(id);
        }
    }

    }
