@inherits LayoutComponentBase
@inject IDataSave dataSave

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/tetradogpwa/TareasPendientes" target="_blank" class="ml-md-auto">Sobre</a>
        <button  @onclick="@(()=>Save())" disabled="@disabled" >Guardar</button>
    </div>

    <div class="content px-4">
        <CascadingValue Value="context">
            @Body
        </CascadingValue>
    </div>
</div>

@code{
    Context context;
    bool disabled = false;
    protected override void OnInitialized()
    {
        string data = dataSave.Load();
         Console.WriteLine(string.IsNullOrEmpty(data));
        Console.WriteLine(data);
       
        base.OnInitialized();
        context = Context.Load(data);
    }

    public void Save()
    {
        disabled = true;
        dataSave.Save(context.ToXmlDocument().OuterXml);
        disabled = false;

    }
}
