@inherits LayoutComponentBase
@inject IDataSave dataSave
@inject IJSRuntime JS

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

        <button class="btn btn-info float-left " @onclick="@(() => Save())" >Guardar</button>
        <a href="https://github.com/tetradogpwa/TareasPendientes" target="_blank" class="ml-md-auto">Sobre</a>

    </div>

    <div class="content px-4">
        <CascadingValue Value="context">
            @Body
        </CascadingValue>
    </div>
</div>

@code{
    Context context;


    protected override async Task OnInitializedAsync()
    {
        string data;

        data= await dataSave.Load(JS);
        context =new Context(data);
        base.OnInitialized();

    }

    public async Task Save()
    {
        if (context != null) {
            try
            {
                await dataSave.Save(JS, context.ToXmlDocument().OuterXml);
                await JS.MostrarMensajeAsync("Se ha guardado, correctamente");
            }
            catch { await JS.MostrarMensajeAsync("No se ha podido guardado, correctamente...si quieres guardar la información ves a Configuracion y descarga el archivo xml"); }

        }
        else
        {
            await JS.MostrarMensajeAsync("Espere un momento, aun se está cargando.");
        }
    }
}
