@inherits LayoutComponentBase
@inject IDataSave dataSave

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <button class="btn btn-info float-left " @onclick="@(()=>Save())" disabled="@Disabled">Guardar</button>
        <a href="https://github.com/tetradogpwa/TareasPendientes" target="_blank" class="ml-md-auto">Sobre</a>

    </div>

    <div class="content px-4">
        <CascadingValue Value="context">
            @Body
        </CascadingValue>
    </div>
</div>

@code{
    Context context;
    protected bool Disabled { get; set; } = false;

    protected override void OnInitialized()
    {
        string data = null;//dataSave.Load();
        base.OnInitialized();
        context = Context.Load(data);
    }

    public void Save()
    {
        try
        {
            Disabled = true;
            dataSave.Save(context.ToXmlDocument().OuterXml);
        }
        catch { }
        finally
        {
            Disabled = false;
        }
    }
}
