@if (Listas != null)
{
    @for (int i = 0; i < Listas.Count; i++)
    {
        <div class="TodoElEspacio @(i%2==0?"par":"impar") ">
          <a  @onclick="@(()=>OnClick.InvokeAsync(Listas[i]))">@Listas[i].Nombre</a>
        </div>

    }

}
@*Por si quieren poner un boton para añadir o un check box para borrar al hacer click *@
@if (ChildContent != null)
{
    @ChildContent
}

@code {
    [Parameter] public List<Lista> Listas { get; set; }
    [Parameter] public EventCallback<Lista> OnClick { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
