<label @onclick="@(()=>OnClick.InvokeAsync(Lista))">@Lista.Nombre</label>

@code {
        [Parameter] public Lista Lista { get; set; }
        [Parameter] public EventCallback<Lista> OnClick {get;set;}

}
