@page "/Organizar"
<h3>Organizar</h3>
<a class="btn btn-info" href="/Organizar/Categorias">Categorias</a>
<br />
<br />
<a class="btn btn-info" href="/Organizar/Listas">Listas</a>
<br />
<br />
<a class="btn btn-info" href="/Organizar/Herencia">Herencia</a>
<br />
<br />
<a class="btn btn-info" href="/Organizar/Tareas">Tareas</a>

