@using TareasPendientes.Helpers

@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject IDataSave DataSave
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/tetradogpwa/TareasPendientes" target="_blank" class="ml-md-auto">Source</a>
    </div>

    <div class="content px-4">
        <CascadingValue Value="Data">
            @Body
        </CascadingValue>
    </div>
</div>
@code{
    Data Data { get; set; }
    protected override async Task OnInitializedAsync()
    {//new Data(); //
        Data = new Data(await DataSave.Load(JS));
        base.OnInitialized();
    }
}