
<div class="Lista-View">
   @if (Lista != null)
   {
       foreach (Tarea tarea in Lista)
       {
          <VisorTarea Tarea="@tarea" Lista="@Lista" MostrarCheck="@MostrarCheck" OnClick="@OnClick"/>
       }
   }
</div>
@code {
    [Parameter] public Lista Lista { get; set; }
    [Parameter] public bool MostrarCheck { get; set; } = false;
    [Parameter] public EventCallback<Tarea> OnClick { get; set; }
}
